body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.abilities {
    text-align: center;
}

.abilities a{
    display: inline-block;
    margin:   15px; 
    color: #477D7F;
}

.button {
    background-color: #0cdb96;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
}

.button:hover {
    background-color: #1cc28b;
}

body {
    background: linear-gradient(135deg, #477D7F, #C2FFBB);
    min-height: 100vh;
    margin: 0;
}

.txt5 {
    background-color: #91eecf7a;
    padding: 10px 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px auto;          
    text-align: center;
    color: #a77ac9;
    border: 2px solid #333;
}

.h1cassio {
    background-color: #91eecf7a;
    padding: 10px 10px;
    border-radius: 15px;
    display: inline-block;
    margin: 10px auto;          
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #1F5357;
    border: 2px solid #333;
}

.cassioimg {
    width: 100;
    
}
