body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background: linear-gradient(135deg, #477d7f, #c2ffbb);
  min-height: 100vh;
  margin: 0;
}

.passiveimg {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  border: 2px solid #333;
}

.h1passive {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: #b08bc2;
  border: 2px solid #333;
}

.passivetxt {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #2e7532;
  border: 2px solid #333;
}

.qimg {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  border: 2px solid #333;
}

.h1q {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: #b8e048;
  border: 2px solid #333;
}

.qtxt {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #2e7532;
  border: 2px solid #333;
}

.qtxt2 {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #392f4a;
  border: 2px solid #333;
}

.qtxt1 {
  background-color: #91eecf7a;
  padding: 10px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #392f4a;
  border: 2px solid #333;
}

.button {
  background-color: #0cdb96;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  border: 2px solid #333;
  font-size: x-large;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
}

.button:hover {
  background-color: #1cc28b;
}
